<div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag%>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to "btn btn-outline-secondary btn-block edit_user_12530", edit_user_path(@user.id) %>
      </div>
      <h2 class="mt-3">New book</h2>
      <%= form_with model: @booker do |f| %>
        <div class="form-group">
          <label for="book_title">Title</label>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
        </div>
      <% end %>
    </div>