<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list',userd:@userd,users:@user,booker:@booker %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@userd.id) do %>
                <%= image_tag @userd.get_profile_image, size:"100x100" %><br>
                <%= @userd.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to edit_book_path(@book), class: 'btn btn-sm btn-success edit_book_9753' do %>
                  Edit
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: 'btn btn-sm btn-danger destroy_book_9753' do %>
                  Destroy
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

